{% extends 'base.html' %} 
{% load crispy_forms_tags %}

<!-- {% block content %}
<h1>This is Login page</h1>
<div>
<form enctype="multipart/form-data" method="post">
{% csrf_token %}

{{ form | crispy }}<br>
<input type="submit"/>

<a href="/accounts/password/reset/">Register</a>
<a href="/accounts/register/">Reset Password</a>

 </form>      
</div>
{% endblock %} -->
{% block leftcontent %}
<h1>This is Register page</h1>
<form method="post" action=".">
    {% csrf_token %}
    {{ form | crispy }}<br>
  
    <input class="btn btn-outline-success btn-sm" type="submit"  />
  </form>
  {% endblock %}