{% extends 'base.html' %} 


{% block content %}
    <h1>This is home us page</h1>
    <P>Contents

        1. About Our Constitution.
        •	what a constitution means & what it does to the society?
        o	In our socity all the diversity has to live together. They are dependent upon each other in various ways. They require the cooperation of each other.
        o	Constitution allows coordination and assurance.
        o	The first function of a constitution is to provide a set of basic rules that allow for minimal coordination amongst members of a society.
        o	The second function of a constitution is to specify who has the power to make  decisions in a society. It decides how the government will be constituted.
        o	
        •	Salient Features of the Constitution
        o	Constitutions are classified into written, like the American Constitution, or unwritten, like the British Constitution. The Constitution of India is the lengthiest of all the written constitutions of the world.
        o	The Constitution of India has opted for the British parliamentary System of Government rather than American Presidential System of Government. The parliamentary system is based on the principle of cooperation and co- ordination between the legislative and executive organs while the presidential system is based on the doctrine of separation of powers between the two organs.
        o	Presently (2019), it consists of a Preamble, about 448 Articles which is divided into 25 Parts and 12 Schedules
        o	The various amendments carried out since 1951(103 times).
        o	The Constitution of India has borrowed most of its provisions from the constitutions of various other countries as well as from the Government of India.
        Sources	Features Borrowed
        British Constitution:-	Parliamentary government, Rule of Law, legislative procedure, single citizenship, cabinet system,
        US Constitution	Fundamental rights, independence of judiciary, judicial review, impeachment of the president, removal of Supreme Court and high court judges and post of vice-
        president.
        Irish Constitution:-	Directive Principles of State Policy, nomination of members to Rajya Sabha and method of election of Constitution president.
        Canadian Constitution:-	Federation with a strong Centre,appointment of state governors by Constitution the Centre,
        Australian Constitution:-	Concurrent List, freedom of trade, commerce and inter- course, and joint sitting of the two Houses of Parliament.
        Weimar Constitution of Germany:-	Suspension of Fundamental Rights during Emergency.
        Soviet(USSR) Constitution:-	Fundamental duties and the ideal of justice (social, economic and political) in the Preamble.
        French Constitution:-	Republic and the ideals of liberty, equality and fraternity in the Preamble.
        South African Constitution:-	Procedure for amendment of the Constitution and election of members of Rajya Sabha.
        Japanese Constitution:-	Procedure established by Law.
        
        
        
        
        
        
        
        •	Preamble of the Constitution
        
        “We, THE PEOPLE OF INDIA, having solemnly resolved to constitute
        India into a SOVEREIGN SOCIALIST SECULAR DEMOCRATIC
        REPUBLIC and to secure to all its citizens:
        JUSTICE, Social, Economic and Political;
        LIBERTY of thought, expression, belief, faith and worship;
        EQUALITY of status and of opportunity; and to promote among them
        FRATERNITY assuring the dignity of the individual and the unity
        and integrity of the Nation;
        IN OUR CONSTITUENT ASSEMBLY this twenty-sixth day of
        November, 1949, do HEREBY ADOPT, ENACT AND GIVE TO
        OURSELVES THIS CONSTITUTION”.
        
        1.	KEY  WORDS IN THE PREAMBLE:-
        o	Sovereign : The word ‘sovereign’ implies that India is neither a dependency nor a dominion of any other nation, but an independent state.
        o	Socialist : Indian socialism is a blend of Marxism and Gandhism, leaning heavily towards Gandhian socialism. As the Supreme Court says, ‘Democratic socialism aims to end poverty, ignorance, disease and inequality of opportunity.
        o	The new economic policy (1991) of liberalisation, privatisation and globalisation has, however, diluted the socialist credentials of the Indian State.
        o	Secular:-The Indian Constitution embodies the positive concept of secularism ie, all religions in our country (irrespective of their strength) have the same status and support from the state.
        o	Democratic:- possession of supreme power by the people.
        o	Republic:- A democratic polity can be classified into two categories—monarchy and republic. In a monarchy, the head of the state (usually king or queen) enjoys a hereditary position,on the other hand, the head of the state is always elected directly or indirectly for a fixed period, eg, USA.
        o	Therefore, the term ‘republic’ in our Preamble indicates that India has an elected head called the president. He is elected indirectly for a fixed period of five years.
        o	Justice:-The term ‘justice’ in the Preamble embraces three distinct forms—social,economic and political, secured through various provisions ofFundamental Rights and Directive Principles.
        o	Liberty:-The Preamble secures to all citizens of India liberty of thought, expression,belief, faith and worship, through their Fundamental Rights, enforceable in court of law, in case of violation.
        o	Equality:-The Preamble secures to all citizens of India equality of status and opportunity. This provision embraces three dimensions of equality—civic, political and economic.
        o	Fraternity:-Fraternity means a sense of brotherhood. The Constitution promotes this feeling of fraternity by the system of single citizenship. TheFundamental Duties (Article 51-A) say that it shall be the duty of every citizen of India to promote harmony and the spirit of common brotherhood amongst all the people of India transcending religious, linguistic, regional or sectional diversities.
        o	
        
        </P>
{% endblock %}