<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <title>E-Shabha</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
          <a class="navbar-brand" href="/app1/home">SMS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link"  href="/app1/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app1/about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Material Received</a>
                  <a class="dropdown-item" href="#">Material Issue</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Balance Material</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app1/contact">Contact</a>
              </li>
              <li class="nav-item">
                  {% if user.is_authenticated %}
                  <a class="nav-link" href="/accounts/logout">logout</a>
                  {% else %}
                  <a class="nav-link" href="/accounts/login">login</a>
                  {% endif %}
              </li>
              <li class="nav-item">
                  {% if user.is_supreuser %}
                  <a class="nav-link" href="/admin">admin</a>
                  {% endif %}
              </li>
              <li>
                  {% if user.is_authenticated %}
                  <a href="app1/profile/edit/{{user.MyProfile.id}}">Edit Profile</a>
                  {% endif %}
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Google Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </header>
    
      
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
              {% block maincontent %}
              left
              <hr>
              {% endblock %}
            </div>
            <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
              {% block leftcontent %}   

              GENERAL STUDIES – 2
Topics: Indian Constitution- historical underpinnings, evolution, features, amendments, significant provisions and basic structure; Comparison of the Indian constitutional scheme with that of other countries. 
JANUARY:-
1.	State can regulate minority institutions 
2.	Eighth Schedule 
3.	Curative petition 
4.	Private property is a human right: Supreme Court  
5.	Centre-state disputes and Article 131
6.	Powers of Speaker under 10th schedule  
7.	71st Republic Day 
DECEMBER:-
8.	1. Creamy layer principle in SC, ST quota for promotion
9.	2. Anglo- Indians in Lok Sabha ans Assemblies
10.	3. 6th schedule of the constitution
11.	4. Land Boundary Agreement (LBA)
12.	5. Disha Bill
13.	6. Can the strength of Lok Sabha be increased?
14.	7. How a US President can be impeached?
15.	8. Instrument of Accession 20
NOVEMBER:-
16.	1. Jammu and Kashmir Bifurcation
17.	2. Office of Profit
18.	3. Ayodhya Verdict
19.	4. Pardoning Powers of President
20.	5. Sabarimala Case
21.	6. President of Sri Lanka- Election process
22.	7. Citizenship (Amendment) Bill
23.	8. Constitution Day of India
OCTOBER:-
24.	Pardoning powers of President
25.	Sedition Law
26.	Indian Penal Code
27.	Citizenship (Amendment) Bill
28.	How a US President can be Impeached?
29.	SEPTEMBER:-
30.	1. 6 th schedule of the constitution
31.	2. Access to Internet is a basic right: Kerala HC
32.	3. 10 th Schedule of the Constitution
33.	4. Office of Profit
34.	5. Corporate income tax
35.	6. How a US President can be impeached?
36.	7. Citizenship (Amendment) Bill
AUGUST:-
37.	1. Jammu & Kashmir Reorganisation Bill, 2019 
38.	2. Article 371 of the Constitution 
39.	3. The fragility of India’s federalism 
40.	4. Delimitation of Constituencies 
41.	5. A monumental litmus test 
42.	JULY:-
43.	1. Article 370
44.	2. Article 35A and related issues
45.	JUNE:-
46.	1. Can an individual simultaneously be a member of both Houses of Parliament 
47.	2. Article 370 
48.	MAY:-
49.	APRIL:-
50.	1. Article 370
51.	2. Prime Minister and Sadr-e-Riyasat of Jammu & Kashmir
52.	3. Key changes to Egypt’s constitution 
53.	4. Khasi ‘kingdoms’ to revisit 1947 agreements
54.	MARCH:-
55.	1. Rajasthan’s Gujjar quota faces a legal challenge 
56.	2. constitution bench 
57.	3. How J&K Presidential Orders have worked ? 
58.	FEBRUARY:-
59.	1. Legitimacy of the Basic structure 
60.	2. Reservations to Economically Weaker Sections and the Basic Structure 
61.	3. The Constitution (125th Amendment) Bill
62.	4. Constitutional and Legislative Measures to Protect and Safeguard Land Rights of Scheduled Tribes  
63.	5. Minority Status of Aligarh Muslim University 
64.	6. Citizenship, Triple Talaq Bills Lapse in Rajya Sabha as House Adjourns Sine Die 
65.	7. US National Emergency 
66.	8. Citizenship (Amendment) Bill, 2016
JANUARY:-
67.	1. Constitutional provisions for Nagaland to
68.	reject the Citizenship (Amendment) Bill, 2016
69.	2. 10th Schedule of the Constitution ______ 17
70.	3. Article 35A and related issues ________ 18
71.	4. 70th Republic Day___________________ 19
72.	5. Curative petition ___________________ 20


Topics: Functions and responsibilities of the Union and the States, issues and challenges pertaining to the federal structure, devolution of powers and finances up to local levels and challenges therein.  
JANUARY:-
1.	Kerala becomes first state to pass anti-CAA resolution  
2.	Sutlej Yamuna Link (SYL) Canal 
NOVEMBER:-
3.	Private member’s Bill
OCTOBER:-
4.	What Legal Rights do Deities Enjoy?
5.	Parliament and State Legislatures – structure, functioning, conduct of business, powers & privileges and issues arising out of these.
6.	In News- What election manifestos must do, why they matter?
7.	Legislative Council
8.	15 Point Reform Charter for Better Functioning of Parliament
SEPTEMBER:-
9.	1. Krishna water dispute
10.	2. Hindi to help unite the country
11.	3. National Population Register (NPR)
12.	Topics: Statutory, regulatory and various quasi-judicial bodies
13.	1. CBI to get Centralised Technology Vertical
14.	2. National Recruitment Agency (NRA)
15.	3. Zonal Councils
16.	AUGUST:-
17.	1. Democracy and its discontents 
18.	2. National Register of Citizens (NRC) 
19.	3. Nationalism and subnationalism in separate Kannada flag 
20.	JULY:-
21.	1. Sutlej Yamuna Link (SYL) Canal 
22.	2. Renaming of states 
23.	JUNE:-
24.	1. Cabinet committees 
25.	2. Why Cabinet Committees are formed, what are the functions of each ? 
26.	3. Cabinet Secretary
27.	4. J&K President’s rule 
28.	MAY:-
29.	APRIL:-
30.	MARCH:-
31.	FEBRUARY:-
32.	Rajasthan to scrap education criterion _____ 30 
33.	JANUARY:-
34.	1. Assam Accord _____________________ 27
35.	2. One family One Job scheme of Sikkim __ 28
36.	3. ‘Ama Ghare LED’ scheme ____________ 29
37.	4. Citizenship Bill and Chakma and Hajong communities 
38.	5. Krushak Assistance for Livelihood and
39.	Income Augmentation or KALIA Scheme __ 29
40.	6. Cabinet decides to strengthen northeast autonomous councils
Topics: Separation of powers between various organs dispute redressal mechanisms and institutions. 
JANUARY:-
1.	SC verdict on internet shutdowns 
2.	What is National Investigation Agency Act, and why is Chhattisgarh challenging it? 
	DECEMBER:-
	1. Grounds for divorce under Hindu law.


NOVEMBER:-
1. SC Strikes Down Finance Act Rules for Appointments to Judicial Tribunals
2. Contempt of Court
3. Review Petition
4. Chhattisgarh panchayats to have disabled quota
OCTOBER:-
1.	SC/ST judgment
2.	How Supreme Court chooses the Chief Justice of India?
SEPTEMBER:-
3.	1. Collegium of Supreme Court judges
4.	2. The idea of regional Supreme Court Benches, and ‘divisions’ of the top court
5.	AUGUST:-
6.	JULY:-
7.	Karnataka crisis: SC’s Kihoto Hollohan order of 1992/ Role of Speaker 
8.	JUNE:-
9.	1. Rule 49MA 
10.	MAY:-
11.	1. Lieutenant-Governor (L-G) of Puducherry 
12.	2. Collegium System 
13.	APRIL:-
14.	How is a Supreme Court judge to be probed? 
15.	MARCH:-
16.	1. Contempt of Court  
17.	2. Govt.’s prerogative to frame schemes: SC 
18.	FEBRUARY:-
19.	JANUARY:-

Topics: Parliament and State Legislatures – structure, functioning, conduct of business, powers & privileges and issues arising out of these. 
JANUARY:- 
1.	Parliamentary Privileges
2.	Legislative Council 
3.	President’s address to both Houses of Parliament 
DECEMBER:-
1. Administration of Oath in Legislature
2. Parliamentary standing committees
3. What is a privilege motion?
4. Parliamentary standing committees
NOVEMBER:-
1. Governor’s Role when no party has staked claim to form a government
2. President’s Rule in the Indian Context
3. Maharashtra floor test plea and Supreme Court’s demands
4. Equal representation to all States in Rajya Sabha sought
5. Gram Sabha
6. Rules for the Conduct of Business
What are Starred Questions?
AUGUST:-
1. J&K Reservation Bill 
2. Inter-state River Water Disputes (Amendment) Bill
3. Code of Conduct for MPs and MLAs 
4. Legislative Council 
JULY:-
1. Leader of Opposition 
2. What is a privilege motion? 
3. Inter-state River Water Disputes (Amendment)Bill 
4. Whip 
5. Parliamentary Standing Committees 
6. What is a floor test or trust vote?
JUNE:-
1. Leader of Opposition 
2. Leader of Rajya Sabha 
3. Speaker of the Lok Sabha 
4. President’s address to both Houses of Parliament
5. Motion of thanks to President’s Address 
MAY:-
1. Special category status
2. Competition Commission of India (CCI) 
APRIL:-
MARCH:-
1. National Register of Citizens (NRC) 
2. Appointment of Lokpal 
FEBRUARY:-
1. The President’s address to both Houses of Parliament ____________________________ 31 
2. Kerala sets up drug price monitor _______ 31 
3. Motion of thanks to President’s Address __ 32 
4. Forest Rights Act, 2006 ________________ 33 
5. Kannadigas to get priority in private sector jobs __________________________________ 33 
JANUARY:-
1. Suspension of MPs _________________ 21
2. New quota and basic structure _______ 22
Topics:  Structure, organization and functioning of the Executive and the Judiciary. 
AUGUST:- 
1. India’s fast-track courts 
2. Time to strike the gavel
JULY:-
JUNE:-
1. Contempt of Court 
2. Zero pendency Court project 
3. Vacation Benches 
4. Recusal of judges from hearing 
MAY:-
APRIL:-
MARCH:-
FEBRUARY:-
1. Supreme Court may curb advocates from speaking on cases 
2. Time to raise the bar 
3. National Board for Wildlife (NBWL) 
4. SC verdict over Tussle between Delhi and Centre 
5. Not without an explanation: when judges recuse themselves 
6. Supreme Court orders eviction of 1.1 mn forest families
JANUARY:-
1. Appointment of Supreme Court judges _ 23
2. SC Dismisses pleas on Appointment of DGPs 
3. India’s sedition law _________________ 25
4. Lokpal debate _____________________ 25
5. National Bench of the Goods and Services Tax Appellate Tribunal (GSTAT) 
6. SC issues contempt notices to RBI _____ 27
Topics: Appointment to various Constitutional posts, powers, functions and responsibilities of various Constitutional Bodies.

SEPTEMBER:-
	1.President appoints Governors
AUGUST:-
Bigger and better: On number of Supreme Court judges 
JULY:-
1. President appoints Governors 
2. Finance Commission of India 
JUNE:-
1. Pro-tem Speaker 
2. Removal of Judges 
MAY:-
APRIL:-
MARCH:-
1. Finance Commission of India 
2. Permanent status to Finance Commission 
3. A law for the CBI 
FEBRUARY:-
1. Finance Commission of India ___________ 35
1. VVPAT ______________________________ 39 
2. EVM is ‘information’ under Right to Information Act
JANUARY:-
1. Appointment of Lokpal ______________ 31
2. Indian Forest and Tribal Service _______ 32	


Topics: Salient features of the Representation of People’s Act.
JANUARY:-
1.	Political Parties Registration Tracking Management System 
2.	Criminalization of Politics 
3.	Who is a star campaigner? 
NOVEMBER:-
4.	MLA’s Citizenship revoked for hiding foreign visits
Registration of political parties under Section 29A of the RP Act, 1951
OCTOBER:-
1.	Section 11 of the Representation of the People Act
2.	Postal Ballot Facilities Expanded

3.	AUGUST:-
4.	One Nation One Election
5.	JULY:-
6.	JUNE:-
7.	1. Registration of political parties under Section 29A of the RP Act, 1951
8.	2. One Nation One Election 
9.	3. Electoral Bond Scheme
10.	MAY:-
11.	1. Article 324 
12.	2. Electoral Bond Scheme 
13.	3. Dissent in the Election Commission – what the rules say 
14.	4. 10th Schedule of the Constitution 
15.	5. Election Commission observers 
16.	6. Voter-Verified Paper Audit Trail (VVPAT) 
17.	7. Exit Polls in India 
18.	8. None of The Above (NOTA) votes 
19.	APRIL:-
20.	1. SVEEP 
21.	2. Making democracy meaningful 
22.	3. Service Voter 
23.	4. VVPAT 
24.	5. Press Council guidelines to media on poll reporting 
25.	6. EC stalls release of biopics 
26.	7. Electoral bond scheme 
27.	8. Role of Election Commission 
28.	9. MCC and Religion 
29.	10. Criminalization of Politics 
30.	11. Voting rights of undertrials and convicts 
31.	12. A crisis of credibility? 
32.	13. Supreme Court seeks EC response on plea
33.	against voter prosecution 
34.	MARCH:-
35.	1. Model Code of Conduct 
36.	2. All about Form 26 
37.	3. First-past-the-post system 
38.	4. Electoral bond scheme 
39.	5. Registration of political parties under Section 29A of the RP Act, 1951 
40.	6. Section 33(7) of the Representation of People’s Act 
41.	7. Anti- defection law
42.	FEBRUARY:-
43.	JANUARY:-
44.	Section 126 of the RP Act, 1951 _________ 36
Topics: Statutory, regulatory and various quasi-judicial bodies.
JANUARY:-  
1.	Zonal Councils 
2.	National Startup Advisory Council  
3.	National Commission for Indian System of Medicine Bill, 2019 (NCIM) 
4.	Indian National Commission for Cooperation with UNESCO (INCCU) 
DECEMBER:-
1. National Company Law Appellate Tribunal (NCLAT)
2. International Financial Services Centres Authority Bill, 2019
3. GST Council

NOVEMBER:-
1. GST Council
OCTOBER:-
1.	National Health Systems Resource Centre (NHSRC)
2.	District Mineral Foundations
3.	National Medical Commission
4.	In News- What is a Waqf?
5.	Removal of State Chief Information Commissioner
6.	Vigilance Awareness Week
7.	AUGUST:-
8.	1. Haryana Administrative Tribunal 
9.	2. CBI Autonomy
10.	3. Khadi and Village Industries Commission (KVIC)
11.	JULY:-
12.	1. Human Rights courts 
13.	2. Foreigners Tribunals 
14.	3. Environment Pollution (Prevention and Control) Authority (EPCA)
15.	4. SEBI and it’s autonomy 
16.	5. National Data Quality Forum (NDQF)
17.	6. Central Wakf Council
18.	JUNE:-
19.	1. ‘Jal Shakti’ Ministry 
20.	2. Why CBI needs consent ? 
21.	3. Competition Commission of India (CCI) 
22.	4. NITI Aayog 
23.	5. All States can now constitute Foreigners Tribunals 
24.	6. North Eastern Council 
25.	MAY:-
26.	APRIL:-
27.	1. Environment Pollution (Prevention and Control) Authority (EPCA)
28.	2. Committees to hear and decide on complaints against CIC and ICs 
29.	3. Competition Commission of India (CCI) 
30.	4. Central Drugs Standard Control Organisation(CDSCO)
31.	5. Investor Education and Protection Fund (IEPF)Authority
32.	MARCH:-
33.	GST Council 
34.	FEBRUARY:-
35.	1. National Testing Agency Launched Mobile App 
36.	2. Defence Innovation Hubs ______________ 37 
37.	3. National Commission for Safai Karmacharis 37 
38.	4. National Commission for Scheduled Tribes (NCST)
39.	5. Central Wakf Council __________________ 39 
40.	JANUARY:-
41.	Legal status for SSC
42.	2. National Anti-Profiteering Authority (NAA)
43.	3. District mineral foundations __________ 33
44.	4. Appointment of Chief Information Commissioner 
45.	5. NITI Aayog 2.0 _____________________ 35

Topics: Government policies and interventions for development in various sectors and issues arising out of their design and implementation. 
JANUARY:-
1.	Saansad Adarsh Gram Yojana 
2.	Farm loan waiver
3.	Telcos seek open court hearing on AGR 
4.	Northeast gas pipeline grid project  
5.	Mineral Laws (Amendment) Ordinance 2020 
6.	Transgender Persons (Protection of Rights) Act, 2019 
7.	Open Acreage Licensing Policy 
8.	Telecommunication Consumers Education and Protection Fund (TCEPF)  
9.	Punjab’s new Right to Business Bill  
10.	China’s one-child policy 
11.	Three capitals for Andhra Pradesh 
12.	Enemy properties 
13.	What is shamlat land? 
14.	Medical Termination of Pregnancy (MTP) Act, 1971 
15.	Karnataka anti-superstition law  
16.	India’s no-fly list 
DECEMBER:-
1. Centre stops online sale of medicines
2. Fugitive Economic Offender
3. Data Protection Bill
4. Kannadigas to get priority in the private sector
5. Partial Credit Guarantee Scheme
6. Atal Bhujal yojana
7. Drug prices control order
8. Prevention of Damage to Public Property Act
9. Pradhan Mantri Gram Sadak Yojana-lll (PMGSY-III)
10.Swadesh Darshan scheme
11.Atal Bhujal Yojana (AJY)
12.Illegal cultivation of Bt brinjal
NOVEMBER:-
1. National Registry of Voluntary Organ Donors
2. Why govt is encouraging Ethanol Production?
3. Steel Scrap Recycling Policy
4. Study moots lowering the age of consent
5. FCRA and Foreign Funding .
6. Pamba-Achankovil-Vaippar River Link Project
7. Rules notified to bring financial firms under IBC
8. Regulation on Cooperative Banks soon
9. Mizoram revokes Forest Rights Act
10.National Register of Citizens (NRC)
11.Jallianwala Bagh National Memorial (Amendment) Bill, 2019
Labour Code on Industrial Relations 2019
13.Pradhan Mantri MUDRA Yojana (PMMY)
14.Automotive Mission Plan 47
15.Industrial Relations Code Bill, 2019
OCTOBER:-
1.	Mahatma Gandhi National Fellowship Programme
2.	Eligibility Criteria for Grant of Maharatna, Navratna and Miniratna Status
3.	Institutes of Eminence Scheme
SEPTEMBER:-
1. One Nation-One Ration Card scheme
2. UAPA Tribunals
3. District mineral foundations
4. National Water Mission
5. Framework to sustain India’s 100% ODF status
AUGUST:-
1. The Motor Vehicles (Amendment) Bill, 2019 45
2. SANKALP Project 
3. Unlawful Activities (Prevention) Amendment Bill, 2019 
4. POCSO Act 
5. National Population Register (NPR) 
6. Rajasthan Passes Bill mandating death penalty for ‘honour killing’ 
7. Rajasthan Protection from Lynching Bill, 2019
8. Surrogacy (Regulation) Bill, 2019 
9. Consumer Protection Bill
10. Public Premises (Eviction of Unauthorised Occupants) Amendment Bill, 2019 
11. National Medical Commission Bill 
12. Draft National Resource Efficiency Policy 
JULY:-
1. One nation-one ration card 
2. Jal Shakti Abhiyan 
3. Register of Indigenous Inhabitants of Nagaland(RIIN)
4. North East Venture Fund (NEVF)
JUNE:-
1. Population Research Centres (PRCs)
2. National Defence Fund (NDF) 
3. Home Ministry warns NGOs 
4. Draft National Education Policy (NEP) 
5. Clean drinking water to all by 2024 
6. New Delhi International Arbitration Centre Bill,2019
7. Aadhaar and Other Laws (Amendment) Ordinance, 2019 
8. Muslim Women (Protection of Rights on Marriage), Bill 2019 
9. A law to protect doctors: 
10. National Accreditation Board for Certification Bodies (NABCB)
11. Shyama Prasad Mukherji Rurban Mission 
12. National Policy on Domestic Workers 
13. National Register of Citizens (NRC) 
14. National Food Security Act (NFSA), 2013
15. Atal Tinkering Labs 
16. Pradhan Mantri Awas Yojana – Urban 
17. National Mission on Natural Language Translation
MAY:-
1. PCPNDT Act 
2. National Policy on Safety, Health and Environment at the Workplace (NPSHEW) 
3. Protection of Plant Varieties and Farmers’ Rights (PPV&FR) Act, 2001 
4. Karnataka’s order capping weight of school bags
5. Black Lists’ of Indian-origin people 
6. Economic Census 
7. National e-Vidhan Application (NeVA) Project 
8. National Register of Citizens (NRC) 
9. Unlawful activities (Prevention) Act
APRIL:-
1. BS norms 
2. Enemy properties 
3. EWS Quota 
4. Utkarsh Bangla, Sabuj Sathi bag prestigious UN awards
5. Namami Gange gets global recognition at world summit 
6. Official Secrets Act 
7. Citizenship Bill
MARCH:-
1. National Mineral Policy, 2019 
2. Aadhaar and Other Laws (Amendment) Ordinance, 2019 
3. New Delhi International Arbitration Centre Ordinance, 2019 
4. National Common Mobility Card (NCMC)
5. National Sports Federation 
6. Ethanol production gets a leg-up 
7. India’s Official Secrets Act, its history and use 
8. Home Min allows States to use 9,400 enemy properties 
9. The Mizoram Maintenance of Household Registers Bill, 2019
10. Real Estate Investment Trust
FEBRUARY:-
1. Swadesh Darshan scheme _____________ 41 
2. Pradhan Mantri Shram-Yogi Maandhan Yojana ________________________________ 42 
3. New panel for welfare of nomadic communities __________________________ 42 
4. National Service Scheme ______________ 43 
5. Draft National River Ganga Bill, 2018 ____ 43 
6. Safe City project _____________________ 44 
7. ‘Darwaza Band – Part 2’ Campaign ______ 44 
8. Bill to counter exploitation by NRI spouses 45 
9. Bill to amend Cinematograph Act _______ 45 
10. Actions undertaken to tackle climate change _____________________________________ 46 
11. Credit linked capital subsidy scheme ____ 46 
12. e-AUSHADHI portal __________________ 47 
13. Pradhan Mantri Awas Yojana – Urban __ 47 
20. Pradhan Mantri Awas Yojana- Gramin (PMAY-G) _____________________________ 48 
14. Tagore award _______________________ 48 
15. Government liberalizes the e-Visa regime 49 
16. Jallianwala Bagh National Memorial (Amendment) Bill, 2018 _________________ 49 
17. SC turns down petition on use of ‘Dalit’ by media ________________________________ 50 
18. National Policy on Electronics 2019 _____ 51 
19. Muslim Women (Protection of Rights on Marriage), Second Ordinance, 2019 ________ 52 
20. Permanent Residence Certificate _______ 52 
21. Parents Responsibility and Norms for Accountability and Monitoring (PRANAM) Bill 53 
JANUARY:-
1. Aadhaar and Other Laws (Amendment) Bill, 2018 
2. Cabinet approves ‘The Constitution (Scheduled Tribes) Order (Amendment) Bill, 2018’ for revision in list of Scheduled Tribes of Arunachal Pradesh
3. Citizenship (Amendment) Bill, 2016 ____ 39
4. Section 66A of the IT Act _____________ 40
5. Personal Laws (Amendment) Bill, 2018 _ 40
6. DNA technology Bill ________________ 42
7. Green Technology in PMGSY _________ 42
8. Job Fairs __________________________ 43
9. Right to Disconnect Bill 2018 _________ 43
10. Pravasi Teerth Darshan Yojana _______ 45
11. SC/ST Act amendment _____________ 45
12. National Agricultural Higher Education Project (NAHEP) 
Topics: Development processes and the development industry- the role of NGOs, SHGs, various groups and associations, donors, charities, institutional and other stakeholders.  
JANUARY:-
1.	Ranking of Aspirational districts 
DECEMBER:-
2.	1. ‘Eat right movement’ campaign
3.	2. What is Eat Right Mela?
4.	3. Skills Build Platform
4. Arunachal teachers’ transfer, posting policy

NOVEMBER:-
5.	1. Skills Build Platform
2. One Stop Centre Scheme
OCTOBER:-
1.	‘Stations’ Cleanliness Survey Report
2.	Village Secretariat Programme
3.	Pradhan Mantri Innovative Learning Programme "DHRUV"
4.	Food Safety Mitra (FSM) Scheme
5.	Naga Peace Accord
6.	Corporate Social Responsibility
7.	Role of civil services in a democracy.
8.	‘Mo Sarkar’ Initiative
SEPTEMBER:-
9.	1. North Eastern Regional Agricultural Marketing Corporation Limited(NERAMAC)
10.	2. Scientific Social Responsibility (SSR) Policy
11.	3. FCRA and foreign funding
12.	4. Ambit of RTI expanded
13.	5. National Service Scheme
14.	AUGUST:-
15.	Village volunteer system 
16.	JULY:-
17.	JUNE:-
18.	1. ‘Back to Village’ program begins in J&K 
19.	2. India must recognise the right to a minimally decent life
20.	MAY:-
21.	1. National Institute of Nutrition (NIN) 
22.	2. India International Institute of Democracy and Election Management (IIIDEM) 
23.	3. NGOs and regulation of their foreign funding 
24.	4. Mohalla Clinics 
25.	APRIL:-
26.	MARCH:-
27.	FEBRUARY:-
28.	1. Akshaya Patra Foundation _____________ 80 
29.	2. Swachh Shakti 2019 ___________________ 81 
30.	3. Shisht Bharat Campaign _______________ 81 
31.	4. All India Citizens Survey of Police Services 81
32.	JANUARY:-
33.	1. National Youth Parliament Festival 2019 69
34.	2. NMCG Officials and Partners Come
35.	Together to Contribute to Clean Ganga Fund 
36.	3. ‘Size India’ project __________________ 70
Topics: Welfare schemes for vulnerable sections of the population by the Centre and States and the performance of these schemes. 
JANUARY:-
1.	Pradhan Mantri Fasal Bima Yojana (PMFBY) 
2.	Pradhan Mantri Laghu Vyapari Maan-dhan Yojana  
3.	National Girl Child Day (NGCD)  
DECEMBER:-
4.	1. Inner Line Permit (ILP)
5.	2. Particularly Vulnerable Tribal Group (PVTG)
6.	3. National Pension Scheme for Traders and Self Employed Persons
7.	4. Maintenance and Welfare of Parents and Senior Citizens Bill, 2019
8.	5. Rashtriya Vayoshri Yojana
9.	6. Social Security code
10.	7. Accessible India Campaign
11.	8. Breast Milk Banks
12.	9. Pradhan Mantri Matru Vandana Yojana (PMMVY)
13.	10.Odisha- JAGA mission
14.	11.Pradhan Mantri Ujjwala Yojana (PMUY)
15.	12.Pradhan Mantri Vaya Vandan Yojana (PMVVY)
NOVEMBER:-
16.	1. All visitors to Meghalaya must first register
17.	2. Draft Social Security Code
18.	3. Pradhan Mantri Matru Vandana Yojana (PMMVY)
19.	4. New Code on Wages
20.	5. Arundhati Swarna Yojana
21.	6. Global Housing Technology Challenge
22.	7. Transgender Rights Bill
OCTOBER:-
23.	Surakshit Matritva Aashwasan (Suman)
24.	Van Dhan Internship Programme
25.	National Pension Scheme
SEPTEMBER:-
26.	1. Pradhan Mantri Ujjwala Yojana (PMUY)
27.	2. National Pension Scheme for Traders and Self Employed Persons
28.	3. Accessible India Campaign
29.	4. Pradhan Mantri Matru Vandana Yojana
30.	5. Draft Social Security code
31.	6. Pradhan Mantri Awas Yojana – Urban
32.	AUGUST:-
33.	1. Transgender Rights Bill 
34.	2. Transgender Rights Bill 
35.	3. Pradhan Mantri Awas Yojana – Urban 
36.	4. PMUY 
37.	5. Janaushadhi Sugam 
38.	6. North East Rural Livelihood Project (NERLP) 
39.	7. National Urban Livelihoods Mission (DAY-NULM)
40.	JULY:-
41.	JUNE:-
42.	1. Pension scheme for small retail traders and shopkeepers 
43.	2. PM – KISAN scheme 
44.	3. Abuja Maria’s and other PVTGs 
45.	4. PMUY 
46.	5. Van Dhan Yojana 
47.	MAY:-
48.	1. SC/ST quota in promotions 
49.	2. Social and Labor Convergence Programme (SLCP)
50.	APRIL:-
51.	1. PMUY 
52.	2. Compensation for Victims 
53.	MARCH:-
54.	1. Pradhan Mantri Shram Yogi Maan-Dhan Yojana
55.	2. Deendayal Disabled Rehabilitation Scheme 
56.	3. Janaushadhi Diwas 
57.	4. National Rural Economic Transformation Project
58.	5. PMUY
59.	FEBRUARY:-
60.	1. Pre-Departure Orientation Programme ___ 67 
61.	2. Rules To Allow Employment of Women in Mines
62.	3. Rashtriya Vayoshri Yojana (RVY) ________ 68 
63.	4. Delhi government launches ‘zero fatality corridor’ 
64.	5. Ujjwala Utsav ________________________ 69 
65.	6. Arundhati scheme ____________________ 70 
66.	7. ‘GiveItUp’ campaign __________________ 71 
67.	8. Registration of Marriage of NRI Bill, 2019 _ 71 
68.	9. Personal Laws (Amendment) Bill 2019 ____ 71 
69.	10. Pradhan Mantri Shram Yogi Maan-Dhan Yojana
70.	11. Deendayal Disabled Rehabilitation Scheme 
71.	12. Initiatives on women’s safety conceptualized by the WCD Ministry
72.	13. ‘Vision Zero’ concept _________________ 75 
73.	14. Development and Welfare Board for De-notified, Nomadic and Semi-Nomadic Communities __________________________ 75 
74.	15. National Rural Economic Transformation Project
75.	16. Pradhan Mantri Awas Yojana – Urban ___ 76 
76.	JANUARY:-
77.	1. 10% reservation for economically weak among upper caste
78.	2. National Policy on Domestic Workers __ 65
79.	3. Hunar Haats _______________________ 66
80.	4. Women of India Festival 2016 ________ 66
81.	5. Project ReWeave ___________________ 67
82.	6. National Social Assistance Programme (NSAP) 
83.	7. National Girl Child Day (NGCD) _______ 68
84.	8. Jiban Sampark Project of Odisha ______ 68
Topics: Issues relating to development and management of Social Sector/Services relating to Health, Education, Human Resources. 
JANUARY:-
1.	Swacch Survekshan league 
2.	Why is National Youth Day celebrated on Swami Vivekananda Jayanti?
3.	What is H9N2? 
4.	Rare diseases 
5.	WHO Names Top 13 Global Health Challenges for the New Decade 
6.	Coronavirus 
7.	ASER 2019  
8.	Pulse Polio Programme 
9.	What is a vaccine-derived poliovirus? 
10.	NISHTHA– National Initiative for School Heads and Teachers Holistic Advancement 
11.	Global Talent Competitiveness Index  
12.	National Population Register (NPR)  
13.	Neglected diseases 
DECEMBER:-
14.	1. Bill banning e-cigarettes passed
15.	2.Rotavirus
16.	3. Human Development Index
17.	4. Data on Extent and Pattern of Substance Use
18.	5. India Skills Report
19.	6. Recommended Dietary Allowance (RDA)
20.	7. Future Skills
21.	8. National Population Register (NPR)
22.	9. Mental disorders high in South India
23.	10.Sustainable Development Goal Index
NOVEMBER:-
24.	1. Programme for International Students Assessment (PISA)
25.	2. Lymphatic filariasis
26.	3. National Health Profile, 2019
27.	4. China proposes to treat Alzheimer’s with new drug
28.	5. Chhattisgarh moots law to protect journalists
29.	6. World Pneumonia Day
30.	7. Nadu Nedu Programme
31.	8. Rajasthan’s free medicine scheme ranked first
32.	9. National Mission 'NISHTHA' launched in J&K
33.	10.Essar Steel Verdict
34.	11.Social Awareness and Action to Neutralise Pneumonia Successfully (SAANS)
35.	12.Plague
36.	13.Smart Safety Surveillance, or 3S, programme
37.	14.K12 Education Transformation Framework
38.	In News- Intensified MissionIndradhanush
39.	16.QS University Rankings
OCTOBER:-
40.	National Nutrition Survey
41.	School Education Quality Index (SEQI)
42.	Global Competitiveness Index
43.	Penicillin to Fight Rheumatic Fever
44.	Ayushman Bharat
45.	Youth Co:Lab
46.	Transfats
47.	Larger Pictorial Warnings
48.	WHO issues first World report on Vision
49.	The WHO India Country Cooperation Strategy 2019–2023
50.	POSHAN Atlas
51.	National Diabetes and Diabetic Retinopathy Survey
52.	State of the World’s Children report
53.	Global Tuberculosis (TB) Report
54.	Asbestos in Baby Powder
55.	Anthrax
56.	UN Report on Lead Concentration in Paints
57.	QS Indian University Rankings
58.	Intensified Mission Indradhanush
59.	New Guidelines Released for Peritoneal Dialysis Services
SEPTEMBER:-
60.	1. PIL in Supreme Court for community kitchens in all states to combat hunger
61.	2. ‘eat right movement’ campaign
62.	3. WHO South-East Asia Region plans to banish measles, rubella by 2023
63.	4. Hepatitis B
64.	5. India Iodine Survey 2018- 19 report
65.	6. Salmonella
66.	7. Hidden cost of global food, land use at $12 trillion
67.	8. Prohibition of Electronic Cigarettes Ordinance
68.	9. Report on Malnutrition
69.	10. ‘UMMID’ initiative
70.	11. Poshan Maah (National Nutrition Month)
71.	12. ‘TB Harega Desh Jeetega’ campaign
72.	13. National Educational Alliance for Technology (NEAT) Scheme
73.	14. Recognition of Prior Learning – RPL
74.	15. AISHE report
75.	16. Institutes of Eminence Scheme
76.	17. AICTE’s Margadarshan and Margadarshak scheme
77.	AUGUST:-
78.	1. Atal Community Innovation Centre (ACIC) Program
79.	2. National Education Policy (NEP) 
80.	3. National Digital Health Blueprint 
81.	4. World Breastfeeding Week 1st – 7th August 
82.	5. Institutes of Eminence Scheme 
83.	6. IMPRINT 
84.	7. National Youth Awards 
85.	8. International Youth Day 
86.	9. National Essential Diagnostics List (NEDL) 
87.	10. New anti-tuberculosis drug 
88.	11. National Initiative for School Heads and Teachers Holistic Advancement (NISHTHA) 
89.	12. Oxytocin ban 
90.	13. H1N1
91.	14. Fit India Movement 
92.	15. e-cigarettes
93.	JULY:-
94.	JUNE:-
95.	1. e-cigarettes 
96.	2. Nipah virus 
97.	3. NEP on imposition of Hindi 
98.	4. How education can be flexible ? 
99.	5. Tamil Nadu Health System Reform Programme
100.	6. Jan Shikshan Sansthans (JSS) 
101.	7. Fixed Dose Combinations (FDCs)
102.	8. National Programme for prevention and Control of Cancer, Diabetes, Cardiovascular Diseases and
103.	strokes (NPCDCS) 
104.	9. Acute Encephalitis Syndrome (AES) 
105.	10. The One Health concept 
106.	11. Pradhan Mantri Bhartiya Janaushadhi Pariyojana (PMBJP)
107.	12. AWaRe- a WHO tool for safer use of antibiotics
108.	13. Anthrax 
109.	14. World Best Universities Ranking 
110.	15. E-2020 initiative 
111.	16. NITI Aayog’s Health Index 
112.	17. EQUIP project 
113.	MAY:-
114.	1. AMR resistance 
115.	2. Trans fatty acids (TFA) 
116.	3. Monkeypox virus: Singapore reports first case of rare virus 
117.	4. Low density of health professionals 
118.	5. National Testing Agency 
119.	6. Global Drug Survey (GDS) 
120.	7. NPPA caps prices of 9 non-scheduled drugs
121.	8. Malaria-free status 
122.	9. WHO strategy on antivenoms 
123.	11. World Health Assembly (WHA) 
124.	12. Measles outbreaks in USA 
125.	13. EQUIP project 
126.	14. Institutes of Eminence Scheme
127.	15. International Classification of Diseases (ICD) 41
128.	APRIL:-
129.	1. WHO guidelines for children under 5 years of age
130.	2. WHO guidelines on usage of Digital Health Technology
131.	3. World Health Day 
132.	4. International Convention on World Homoeopathy Day 
133.	5. World Immunization Week 2019 
134.	6. Drug-resistant diseases could kill 10 million a year by 2050
135.	7. Candida auris infection
136.	8. Measles 
137.	9. World Haemophilia Day 
138.	10. Mosquirix: World’s first Malaria vaccine 
139.	11. ICMR launches ‘MERA India’ to Eliminate Malaria by 2030
140.	12. Melamine 
141.	13. Global Initiative of Academic Networks (GIAN)
142.	14. Traditional Knowledge Digital Library (TKDL)
143.	15. Plea in HC to ensure prescription of Generic Drugs
144.	16. India short of 6 lakh doctors, 2 million nurses: U.S. study
145.	17. Dentists to practice as general physicians 
146.	18. Global Talent Competitiveness Index
147.	19. NIRF 2019 rankings 
148.	MARCH:-
149.	1. Rare diseases day 
150.	2. Quality Assurance Scheme 
151.	3. Pulse Polio Program 2019 
152.	4. WHO strategy to fight flu pandemics 
153.	5. West Nile virus (WNV)
154.	6. Integrate TB services with primary health system: Lancet 
155.	7. Kyasanur Forest Disease
156.	8. Global MPI 2018
157.	9. Govt. notifies new rules for drugs, clinical trials
158.	10. Smart India Hackthon 2019 
159.	11. Atal Innovation Mission (AIM) 
160.	12. National Knowledge Network
161.	13. Festival of Innovation and Entrepreneurship 2019 
162.	14. World Happiness Report 
163.	15. Young Scientist Programme (YUVIKA)
164.	FEBRUARY:-
165.	1. Know My India Programme ____________ 54 
166.	2. Target Olympic Podium Scheme (TOPS) __ 54 
167.	3. National Deworming Day (NDD) ________ 55 
168.	4. Drugs Technical Advisory Board _________ 56 
169.	5. National Productivity Week ____________ 56 
170.	6. Formalin in Fish ______________________ 57 
171.	7. Trans fatty acids (TFA) _________________ 58 
172.	8. Blood-Availability and Safety ___________ 59 
173.	9. WHO issues new international standard for music devices 
174.	10. ‘Prevalence and Extent of Substance Use in India’- survey 
175.	11. India to participate in PISA 2021 _______ 61 
176.	12. Kisan Urja Suraksha evam Utthaan Mahabhiyan ___________________________ 62 
177.	13. Operation Digital Board ______________ 63 
178.	14. Skill Saathi Youth Conclave____________ 63 
179.	15. Atal Innovation Mission (AIM) _________ 64 
180.	16. Scheme for Higher Education Youth in Apprenticeship and Skills (SHREYAS)
181.	17. Yuva Sahakar-Cooperative Enterprise Support and Innovation Scheme
182.	18. Oxytocin ban _______________________ 66 
183.	JANUARY:-
184.	1. Mohan Reddy Committee ____________ 47
185.	2. ISRO launches Samwad ______________ 47
186.	3. Lead and MSG in noodles ____________ 47
187.	4. Menstrual Hygiene for Adolescent girls Schemes 
188.	5. Mission Indradhanush ______________ 49
189.	6. Govt declares ‘one-time financial assistance’ for Rare diseases 
190.	7. 70 Point Grading Index to assess states on schooling system
191.	8. Formalin in Fish ____________________ 51
192.	9. Congenital Central Hypoventilation Syndrome (CCHS) 
193.	10. National Action Plan for Drug Demand Reduction (2018-2023)
194.	11. Right of Children to Free and Compulsory
195.	Education (Amendment) Act, 2019 ______ 53
196.	12. Annual Status of Education Report (ASER) 2018
197.	13. Triple-drug therapy for lymphatic filariasis 
198.	14. WHO’s list of 10 Global health threats _ 55
199.	15. Neglected diseases ________________ 56
200.	16. Zearalenone in cereals _____________ 57
201.	17. World Malaria Report of 2018 _______ 58
202.	18. Jan Shikshan Sansthans (JSS) ________ 59
203.	19. India to participate in PISA 2021 _____ 59
204.	20. Non-communicable diseases ________ 60
205.	21. New Delhi superbug gene reaches the Arctic
206.	22. Institutes of Eminence Scheme ______ 62
207.	23. Rajasthan Zika strain is endemic to Asia62

Topics: Important aspects of governance, transparency and accountability, e-governance applications, models, successes, limitations, and potential; citizens charters, transparency & accountability and institutional and other measures. 
JANUARY:-
1.	NetSCoFAN  
2.	Top Risks 2020  
3.	Integrated Road Accident Database (IRAD)  
4.	Corruption Perception Index 2019 
5.	Bhuvan Panchayat 3.0 
DECEMBER:-
6.	1. Independent Directors Databank
7.	2. Section 144 CrPC
8.	3. “Run Through Files” mechanism
9.	4. ‘Good Governance Index’
NOVEMBER:-
10.	1. Electoral Bond Scheme
11.	2. India Justice Report (IJR)
12.	3. HS Code
13.	4. Chief Justice of India's office under RTI Act
OCTOBER:-
14.	Electoral Bond Scheme
15.	PFMS Portal
16.	National e-Assessment Scheme (NeAC)
17.	NCRB Crime Statistics for 2017
18.	TechSagar
19.	Government e Marketplace (GeM)
SEPTEMBER:-
20.	1. ‘Build for Digital India’ programme
21.	2. Atal Ranking of Institutions on Innovation Achievements (ARIIA)
22.	3. Government e Marketplace (GeM)
23.	4. Jan Soochna Portal-2019
24.	5. Community Radio Stations
25.	AUGUST:-
26.	1. PRAGATI 
27.	2. National Conference on e-Governance adopts
28.	‘Shillong Declaration’ 
29.	3. National Digital Library of India
30.	JULY:-
31.	JUNE:-
32.	1. Data Localization 
33.	2. Common Service Centres 
34.	MAY:-
35.	APRIL:-
36.	1. Community Radio Stations 
37.	2. RailWire Wi-Fi 
38.	3. Lateral Entry in Bureaucracy 
39.	4. Politics and the military
40.	5. World Press Freedom Index 2019 
41.	MARCH:-
42.	1. EASE (Enhanced Access and Service Excellence) reform index 
43.	2. IRCTC Launches Payment Aggregator iPay 
44.	3. World Consumers Day 
45.	4. Social Media Platforms Present Voluntary Code of Ethics 
46.	FEBRUARY:-
47.	1. Why only bureaucrats on information panels, asks SC
48.	2. Rajasthan Social Accountability Bill ______ 78 
49.	3. States’ ranking on Startup initiatives _____ 79 
50.	4. HOPE Portal _________________________ 79 
51.	5. National Youth Parliament Festival 2019 awards
52.	JANUARY:-
53.	1. Parivesh (Pro-Active and Responsive facilitation by Interactive, Virtuous and Environmental Single-window Hub)
54.	2. Democracy Index 2018 ______________ 72
55.	3. Womaniya on GeM _________________ 73
56.	4. Charter of Patients’ Rights ___________ 74
57.	5. Corruption Perception Index 2018 _____ 74
Topics: Role of civil services in a democracy. 
JANUARY:-
1.	What is the commissionerate system?  
DECEMBER:-
2.	1. Indian Railway Management Service (IRMS)
3.	AUGUST:-
4.	JULY:-
5.	JUNE:-
6.	MAY:-
7.	APRIL:-
8.	MARCH:-
9.	FEBRUARY:-
10.	JANUARY:-
Topics: India and its neighbourhood- relations. 
JANUARY:-
1.	Agreement on Prohibition of Attacks against Nuclear Installations and Facilities  
2.	Kalapani Territory  
3.	Raisina Dialogue 
4.	India-Pakistan trade freeze hits thousands: report  
5.	India helps Maldives tackle measles outbreak  
6.	ICJ ruling on Rohingya crisis 
7.	Import duty on palm oil cut 
DECEMBER:-
8.	1.Rohingya Crisis
NOVEMBER:-
9.	1. East Asia Summit
10.	2. Kalapani Territory
11.	3. Quad Countries
12.	4. India’s Free Trade Agreements with Asean
13.	5. China-Pakistan Economic Corridor (CPEC)
OCTOBER:-
14.	RCEP: Opportunity, fears in regional trade deal
15.	India- China Informal Summit at Mahabalipuram
16.	European MPs’ Kashmir visit
SEPTEMBER:-
17.	1. Tibetan Democracy Day
18.	2. Rohingya refugees
19.	3. Gilgit-Baltistan
20.	4. Quad countries
21.	AUGUST:-
22.	Simla Agreement 
23.	JULY:-
24.	JUNE:-
25.	1. Quad countries to focus on maritime security 
26.	2. Information Fusion Centre (IFC) for the Indian Ocean Region (IOR) 
27.	MAY:-
28.	APRIL:-
29.	1. Suspension of LoC trade 
30.	2. India’s response to China’s BRI linked to its territorial concerns:
31.	MARCH:-
32.	1. India launches third IT corridor in China 
33.	2. Hambantota oil refinery project 
34.	3. Note verbale 
35.	FEBRUARY:-
36.	1.MFN status
37.	2. Indus Water Treaty ___________________ 83 
38.	3. Geneva Convention ___________________ 84 
39.	3. Rohingya Issue _______________________ 85 
40.	JANUARY:-
41.	1. Agreement on Prohibition of Attacks against Nuclear Installations and Facilities
42.	2. India – Myanmar – Thailand Trilateral Highway  
43.	3. Gilgit-Baltistan _____________________ 76
44.	4. Indus Waters Treaty ________________ 78
45.	5. Chin refugees ______________________ 78
Topics: Bilateral, regional and global groupings and agreements involving India and/or affecting India’s interests. 
JANUARY:- 
1.	Hormuz peace initiative 
2.	India-EU Broad Based Trade and Investment Agreement (BTIA)
3.	UAE has been declared ‘reciprocating territory’ by India
4.	Mutual Recognition of Certificates of Competency of Seafarers 
DECEMBER:-
5.	1. Chabahar Port
6.	2. United States-Mexico-Canada Agreement (USMCA)
7.	3. Recycling of Ships Act
NOVEMBER:-
8.	1. Regional Comprehensive Economic Partnership (RCEP)
9.	2. Agreement on Reciprocal Logistics Support (ARLS)
10.	3. BIMSTEC
11.	4. Feni River and its Significance
12.	5. International Treaty on Plant Genetic Resources for Food and Agriculture
13.	6. ADMM-Plus
14.	7. Recycling of Ships Bill, 2019
15.	8. Common but Differentiated Responsibilities and Respective Capabilities (CBDR–RC)
OCTOBER:-
16.	Automatic Exchange of Information (AEOI)
17.	Non-Aligned Movement summit
SEPTEMBER:-
18.	1. Automatic Exchange of Information (AEOI)
19.	2. Malé Declaration
20.	3. Indian Ocean Conference
21.	4. Regional Comprehensive Economic Partnership(RCEP)
22.	5. Shanghai Cooperation Organization (SCO)
23.	6. Eurasian Economic Forum
24.	7. PACEsetter Fund programme
25.	AUGUST:-
26.	1. UN Convention on International Settlement Agreements
27.	2. ICJ Jurisdiction on Bilateral Issues
28.	3. South-South and Triangular Cooperation 
29.	4. Regional Comprehensive Economic Partnership(RCEP)
30.	5. Talking trade with the EU 
31.	JULY:-
32.	JUNE:-
33.	1. Multilateral Convention to Implement Tax Treaty Related Measures
34.	2. Operation sunrise and Kaladan Project 
35.	3. South Asia
36.	MAY:-
37.	1. China’s vigorous quest for foreign military bases
38.	2. BIMSTEC 
39.	APRIL:-
40.	1. India gains access to Bolivian Lithium Reserves
41.	2. India to set up agriculture institute in Malawi 
42.	3. Bangladesh-Bhutan-India-Nepal (BBIN) initiative
43.	4. Indo-Pacific division 
44.	5. Bangladesh- China- India- Myanmar (BCIM) Economic corridor 
45.	MARCH:-
46.	1. Indo-Pacific Regional Dialogue 
47.	2. TIR convention 
48.	3. Kaladan Project 
49.	FEBRUARY:-
50.	1. Exercise Cutlass Express 
51.	2. Afghanistan opens new export route to India through Iran’s Chabahar port
52.	JANUARY:-
53.	1. Indo – US 2+2 Dialogue 
54.	2. Sino-Indian Digital Collaboration Plaza 
Topics: Effect of policies and politics of developed and developing countries on India’s interests, Indian diaspora. 
JANUARY:-
1.	Qassem Soleimani killing 
2.	Iran nuclear deal  
3.	What is Protecting Power? 
4.	Pravasi Bharatiya Divas 2020 
5.	Sikhs in US to be counted as separate ethnic group 
6.	US imposes new 'birth tourism' visa rules for pregnant women
7.	Oslo Accords 
8.	West Asia Peace Plan
DECEMBER:-
9.	1. Australia’s points-based visa policy
10.	2. INSTEX – Instrument In Support Of Trade Exchanges
11.	3. Bougainville and nationhood
12.	4. US Congress resolution on J&K clampdown
13.	5. Hong Kong marks half-year protest anniversary
14.	6. Military Space Force
15.	7. FATF’s another 150 questions for Pakistan 
NOVEMBER:-
16.	1. Iran Nuclear Deal
17.	2. US Exiting the Paris Agreement
18.	3. West Bank and issues associated
19.	4. Uighur Detention Camps
20.	5. New START (Strategic Arms Reduction Treaty)
21.	6. The dispute between Britain and Mauritius over Chagos islands
22.	7. Global Migration Report 2020
OCTOBER:-
23.	India, Hyderabad Nizam heirs win UK court battle with Pakistan for £35m
24.	Countering America’s Adversaries Through Sanctions Act (CAATSA)
25.	‘Dark Grey’ list of FATF
26.	Kurds
27.	What Is in the New Brexit Deal?
28.	Who are the Developing Countries in the WTO?
29.	BASIC countries
SEPTEMBER:-
30.	1. ASEAN-India Trade in Goods Agreement (AITIGA)
31.	2. Impact of attack on Saudi Arabia’s oil facility
32.	3. Scope for third party mediation in Kashmir
33.	Topics: Important International institutions, agencies and fora, their structure, mandate.
34.	1. The Global Fund to Fight AIDS, Tuberculosis and Malaria
35.	2. Interpol General Assembly
36.	3. Association of World Election Bodies
37.	4. Eastern Economic Forum
38.	5. UN Peacekeeping
39.	6. World Energy Congress
40.	7. International Atomic Energy Agency (IAEA)
41.	8. Nuclear Suppliers Group
42.	9. UNGA 2019
43.	10. World Tourism Day 2019
44.	AUGUST:-
45.	1. UNSC Resolution 47 on Kashmir 
46.	2. Currency Manipulation 
47.	3. India’s NFU Policy 
48.	4. BASIC countries
49.	5. Henley Passport Index 
50.	6. Scope for third party mediation in Kashmir 
51.	7. China’s One Country Two Systems policy 
52.	8. Joint Comprehensive Plan of Action (JCPOA) 
53.	9. US Space Command 
54.	JULY:-
55.	JUNE:-
56.	1. Generalised System of Preferences (GSP) 
57.	2. OIC’s reference to J&K and India’s response to it
58.	3. Why US wants social media details of most visa applicants? 
59.	4. New START (Strategic Arms Reduction Treaty) 
60.	5. National Strategy for Wellbeing 2031 (UAE) 
61.	6. Hong Kong Protests 
62.	7. Windrush Scheme (UK) 
63.	8. Brazil’s slavery ‘dirty list’ 
64.	9. 2019 Yearbook of the Stockholm International Peace Research Institute (SIPRI) 
65.	10. ‘Defending In Numbers’ report 
66.	11. Joint Comprehensive Plan of Action (JCPOA) 
67.	MAY:-
68.	1. Generalized System of Preference (GSP) 
69.	2. Joint Comprehensive Plan of Action (JCPOA) 
70.	3. US sanctions over Iran and its implications 
71.	4. US ‘Global Health Security Strategy’ 
72.	5. US-China tariff wars
73.	6. Green cards 
74.	7. ‘Golden Card’ Permanent Residency Scheme 
75.	8. The dispute between Britain and Mauritius over Chagos islands 
76.	9. United States’ currency monitoring watchlist 
77.	APRIL:-
78.	1. Generalised System of Preferences (GSP) 
79.	2. US to designate Iran Revolutionary Guard a terrorist group 
80.	3. China’s BRI 
81.	4. Legislation to strengthen US-India strategic partnership
82.	5. US sanctions on Iran 
83.	6. Exit Visa system and Kafala 
84.	7. US places India on ‘Priority Watch List’ 
85.	MARCH:-
86.	1. Trends in International Arms Transfers-2018 
87.	2. Cabinet Approves Proposal to Align with Global Trademark System 
88.	3. The significance of the Golan Heights 
89.	FEBRUARY:-
90.	1. INSTEX – Instrument In Support Of Trade Exchanges 
91.	2. Macedonia signs accord to join NATO
92.	3. Generalised System of Preferences (GSP) 
93.	4. Military Space Force 
94.	5. The dispute between Britain and Mauritius over Chagos islands
95.	JANUARY:-
96.	1. Asia Reassurance Initiative Act of 2018 
97.	2. Partnership Summit
Topics: Important International institutions, agencies and fora, their structure, mandate. 
JANUARY:-
1.	UNESCO creative cities network (UCCN)  
2.	Asia Pacific Drosophila Research Conference 
3.	Nepal’s Seke ‘near-extinct’
4.	'8 Wonders of SCO' 
5.	Henley Passport Index 
6.	Global social mobility report  
7.	Non-Proliferation Treaty (NPT)  
8.	UN Commission on International Trade Law (UNCITRAL) 
9.	Democracy Index 2019 
10.	What makes WHO declare a disease outbreak a public health emergency? 
11.	World Sustainable Development Summit
DECEMBER:-
12.	1. Global Carbon Project
13.	2. Asian Elephant Specialist Group (AsESG)
14.	3. WTO’s dispute settlement mechanism
15.	4. UNESCO’s List of Intangible Cultural Heritage
16.	5. International Geological Congress
17.	6. Global Refugee Forum
18.	7. UN medal for Indian peacekeepers in South Sudan
19.	8. Islamic Cooperation countries (OIC)
20.	9. Universal Postal Union (UPU)
NOVEMBER:-
21.	1. SCOJTEX- 2019
22.	2. Green Climate Fund
23.	3. UNESCO World Heritage Week
24.	4. Kimberley Process
25.	5. UNDP Accelerator Labs
26.	6. North Atlantic Treaty Organisation’s (NATO)
OCTOBER:-
27.	Drone Innovators Network Summit 2019
28.	Information Fusion Centre (IFC) for the Indian Ocean Region (IOR)
29.	UN Security Council
30.	UN Human Rights Council
31.	Asian Development Bank (ADB)
32.	G20 Global Smart Cities Alliance on Technology Governance
33.	Interpol
34.	IMF Quotas
35.	Indian Ocean Rim Association (IORA)
36.	Universal Postal Union (UPU)
37.	International Civil Aviation Organization (ICAO)
38.	International Solar Alliance
39.	AUGUST:-
40.	1. Intermediate-Range Nuclear Forces (INF) Treaty
41.	2. UNIDO 
42.	3. UN Palestine refugee agency
43.	4. UN Convention on International Settlement Agreements
44.	5. Special Purpose Trust Fund 
45.	6. UN Security Council 
46.	7. WTO reforms 
47.	8. Is the World Trade Organization becoming a new battlefront ? 
48.	9. Financial Action Task Force (FATF) 
49.	10. WorldSkills Kazan 2019 
50.	11. IMF Standards for data dissemination 
51.	12. G7 bloc
52.	13. Eastern Economic Forum
53.	JULY:-
54.	JUNE:-
55.	1. UN Women 
56.	2. Islamic Cooperation countries (OIC) 
57.	3. 2nd Global Disability Summit at Buenos Aires 
58.	4. Financial Action Task Force (FATF) 
59.	5. Shanghai Cooperation Organization (SCO) 
60.	6. Kimberley Process 
61.	7. Global Peace Index 2019
62.	8. Asia Media Summit
63.	9. African Union (AU) 
64.	10. International Civil Aviation Organization (ICAO)
65.	11. Saudi Arabia becomes 1st Arab country to get FATF membership
66.	12. UN Security Council 
67.	13. G20 Summit 2019
68.	14. International Seed Testing Association (ISTA)
69.	MAY:-
70.	1. Arctic Council 
71.	2. Basel Convention 
72.	3. World Customs Organization 
73.	4. Commonwealth Tribunal
74.	5. Comprehensive Nuclear Test Ban Treaty 
75.	6. United Nations not a State under Article 12
76.	7. UN Human Rights Council 
77.	8. WTO’s dispute settlement mechanism 
78.	9. IBSA and it’s relevance: 
79.	10. U20 
80.	11. Shanghai Cooperation Organization (SCO)
81.	12. UNESCO World Heritage Sites 
82.	13. UN Habitat 
83.	14. UN Security Council
84.	APRIL:-
85.	1. Comprehensive Convention on International Terrorism (CCIT) 
86.	2. International Solar Alliance 
87.	3. President of World Bank
88.	4. International Maritime Organisation (IMO) 
89.	5. International Finance Corporation (IFC) 
90.	6. World heritage day 
91.	7. United Nations Mission In South Sudan (UNMISS)
92.	8. Arab League 
93.	9. UN Arms Trade Treaty 
94.	10. Asia Pacific Broadcasting Union (ABU) 
95.	MARCH:-
96.	1. IEA Bioenergy TCP 
97.	2. Regional Comprehensive Economic Partnership (RCEP) 
98.	3. Society for Worldwide Interbank Financial Telecommunication (SWIFT) 
99.	4. UN Security Council 
100.	5. Generalised System of Preferences 
101.	6. UNODC 
102.	7. International Criminal Court (ICC) 
103.	8. International Finance Corporation (IFC) 
104.	9. International Air Transport Association
105.	10. World Gold Council (WGC) 
106.	11. ‘Belt and Road’ initiative 
107.	12. World Food Programme  
108.	13. World Meteorological Organisation (WMO)  
109.	14. The Global Fund to Fight AIDS, Tuberculosis and Malaria 
110.	15. African Union (AU) 
111.	FEBRUARY:-
112.	1. Intermediate-Range Nuclear Forces (INF) Treaty
113.	2. Nuclear Suppliers Group
114.	3. Indian Ocean Rim Association (IORA) 
115.	4. Asia LPG Summit
116.	5. The Global Fund to Fight AIDS, Tuberculosis and Malaria
117.	6. LAWASIA Human Rights Conference 
118.	7. African Union
119.	8. World Government Summit 
120.	9. World Sustainable Development Summit
121.	10. Azov sea 
122.	11. International Court of Justice 
123.	12. International Solar Alliance
124.	13. Financial Action Task Force (FATF)
125.	14. Global Health Expenditure Database (GHED)
126.	15. Global Digital Health Partnership (GDHP)
127.	16. Islamic Cooperation countries (OIC)
128.	17. UN Women
129.	JANUARY:-
130.	1. Persian Gulf Regional Dialogue Forum __ 81
131.	2. Henley Passport Index ______________ 82
132.	3. World Gold Council (WGC) ___________ 83
133.	4. Raisina Dialogue ___________________ 83
134.	5. BREXIT DEAL ______________________ 84
135.	6. International Solar Alliance __________ 85
136.	7. Smart Food Executive Council ________ 86
137.	8. Alliance to End Plastic Waste (AEPW) __ 87
138.	9. Arab Economic and Social Development Summit 
139.	10. ILO Commission’s Future of Work Report
140.	11. Intermediate-Range Nuclear Forces (INF) Treaty
141.	12. “The Future of Rail” Report _________ 90
142.	13. Africa Centre for Climate and Sustainable Development








              <hr>
              
              {% endblock %}
            </div>
            <div class="d-none d-xl-block col-xl-2 bd-toc">
                {% block rightcontent %}
                right
                <hr>
                {% endblock %}
            </div>

        </div>      
          
        </div>
    </div>
    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
          <h5>this is footer</h5>
          </div>
      </footer>

    
    
    
    
    
    
    
    
    
    
        
        
     
    
    
    
    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
  </body>
</html>
 
 <!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    Bootstrap CSS
    <<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">>

    <title>E-Shabha</title>
  </head>
    
   <body>
     <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>

        {% block content %}
         
        {% endblock %}


    </body>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>   -->